*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin: 3vh;
    background: linear-gradient(to bottom, #bdfa8e, #2d9d72);
}
.heading{
    margin: 3vh;
    font-size: 1.3rem;
}
.board{
    width: 100%;
    height: 45vh;
    background-color: transparent;
    border-radius: 10px;
    box-shadow: 0.1vh 5vh 14vh rgba(3, 2, 2, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;
}
p{
    font-size: 2.4vh;
}
.btn{
    margin: 5vh;
}
button{
    font-size: 1.5rem;
    padding: 1vh 2vh;
    border: none;
    border-radius: 1vh;
    background-color: #298e67;
    color: white;   
    cursor: pointer;
    box-shadow: 1vh 2vh 3vh rgba(29, 24, 23, 0.4);
}
